## File Types
**/*.sync
**/*.vcf.gz*


## Folders 
Amajus_alleles-ancestral/
Amajus_poolseq/
bam*/
fastq/
misc_toSort/
old_VCFs/

## ./genome_scans
./genome_scans/_figures/plt_dp-MF-YF_perSite.pdf
./genome_scans/vcf_regions/*vcf*
./genome_scans/pops_MF_YF
./genome_scans/jobs



