## File Types
**/*.sync
**/*.vcf.gz*
**/*.gt*
**/*.ipynb_checkpoints
**/*.DS_Store


## Folders 
Amajus_poolseq
Amolle_syncFiles

bam*/
fastq/
misc_toSort/
old_VCFs/


### Specific subfolder/files ###

## Amajus_alleles_ancestral
Amajus_alleles_ancestral/pos/
Amajus_alleles-ancestral/alleleDat_chrom

## genome_scans
genome_scans/_figures/plt_dp-MF-YF_perSite.pdf
genome_scans/vcf_regions/*vcf*
genome_scans/pops_MF_YF
genome_scans/jobs

## recRate
recRate

## ref_genome
ref_genome/v3.5

## wrath
wrath/AURINA
wrath/CREMOSA
wrath/FLAVIA
wrath/ROSEL
wrath/RUBIA
wrath/SULF

